.stack {
  position: relative;
  background: #aaa;
  display: block;
  height: auto;
  width: 400px;
  height: 580px;
  margin: 0 auto;
  text-align: center;
}

.buttonWrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

.button {
  padding: 10px 20px;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
}
