.stack {
  background: #aaa;
  display: block;
  height: 580px;
  padding: 20px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 400px;
}

.keep {
  background: green;
}

.discard {
  background: red;
}

.buttonWrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

.button {
  padding: 10px 20px;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
}
