.card {
  background-position: center;
  background-size: cover;
  border: solid 1px #999;
  border-radius: 20px;
  height: 500px;
  margin: 10px auto;
  max-width: 20vw;
  overflow: hidden;
  position: absolute;
  width: 400px;
}

.name {
  background: #fff;
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
