.card {
  background-position: center;
  background-size: cover;
  border: solid 1px #999;
  border-radius: 20px;
  height: 500px;
  margin: 10px auto;
  overflow: hidden;
  position: absolute;
  width: 300px;
  margin-left: -150px;
  left: 50%;
}

.name {
  background: #fff;
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.card:nth-last-child(1) {
  margin-top: -5px;
}

.card:nth-last-child(2) {
  margin-top: 0px;
}

.card:nth-last-child(3) {
  margin-top: 5px;
}

.card:last-child.dragging {
  visibility: hidden;
}
